.contact_wrapper svg {
    font-size: 1em;
    vertical-align: middle;
    margin-right: 5px;
}

.contact-form {
    max-width: 400px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .row {
        display: flex;
        gap: 1rem;

        >* {
            flex: 1;
        }
    }

}

.contact-form input,
.contact-form textarea {
    padding: 12px 14px;
    font-size: 1rem;
    min-width: 500px;
    border-radius: 8px;
    border: 1px solid #9500ff;
    transition: border 0.2s ease, box-shadow 0.2s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #7c3aed;
    /* purple accent */
    box-shadow: 0 0 4px rgba(124, 58, 237, 0.4);
    outline: none;
}

.body-form textarea {
    min-height: 200px;
    min-width: 1015px;
    resize: vertical;
}

.mantine-TextInput-root,
.mantine-Textarea-root {
    flex: 1;
}

.submit-btn {
    align-self: flex-start;
    background-color: #7c3aed;
    border-radius: 8px;
    padding: 0.6rem 1.4rem;
    font-size: 1rem;
    font-weight: 500;

    &:hover {
        background-color: #6d28d9;
    }
}



label {
    font-size: 1.2rem;
    font-family: 'DomaineDispNar-Medium', sans-serif;
    text-decoration-color: #050f0b;
}

.form-flex {
    display: flex;
    gap: 15px;
    padding-bottom: 15px;
}

.form-flex .MuiFormControl-root {
    width: 100%;
}

form {
    width: 100% !important;
}

.body-form {
    width: 100% !important;
    margin-bottom: 15px !important;
}