.vertical-timeline span {
    color: white;
    font-family: 'Courier Prime', monospace;
}

.vertical-timeline p {
    color: rgb(39, 40, 34);
}

.vertical-timeline p {
    color: rgb(39, 40, 34);
}

.vertical-timeline h3 {
    color: rgb(39, 40, 34);
}

.vertical-timeline h4 {
    color: rgb(39, 40, 34);
}

.vertical-timeline span {
    color: rgb(39, 40, 34);
}

.vertical-timeline .vertical-timeline-date {
    color: white;
}

.custom-date {
    font-weight: 600 !important;
    color: #ffffff !important; // or match your theme

}

.svg-inline--fa {
    color: white;
}

@media screen and (max-width: 1170px) {
    .vertical-timeline-element .vertical-timeline-element-date {
        color: rgb(39, 40, 34);
    }
}