.vertical-timeline span {
    color: white;
    font-family: 'Courier Prime', monospace;
}

.vertical-timeline p {
    color: rgb(39, 40, 34);
}

.vertical-timeline p {
    color: rgb(39, 40, 34);
}

.vertical-timeline h3 {
    color: rgb(39, 40, 34);
}

.vertical-timeline h4 {
    color: rgb(39, 40, 34);
}

.vertical-timeline span {
    color: rgb(39, 40, 34);
}

.vertical-timeline .vertical-timeline-date {
    color: white;
}

.light-mode .custom-date {
    color: #000000 !important;
}

.dark-mode .custom-date {
    color: #ffffff !important;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.svg-inline--fa {
    color: white;
}

@media screen and (max-width: 1170px) {
    .vertical-timeline-element .vertical-timeline-element-date {
        color: rgb(39, 40, 34);
    }
}